.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

.nav-head {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.nav-head .navbar-toggler {
    position: relative;
    z-index: 1;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .5);
    border-color: rgba(0, 0, 0, .1);
}

.ft-change-one {
    color: #222222 !important;
    font-size: 12px;
    font-family: 'poppins', sans-serif;
}

.bg-image {
    height: 550px;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url(../images/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.content-h1 {
    font-size: 72px;
    font-family: 'poppins', sans-serif;
}

.small-h6 {
    font-size: 14px;
    font-family: 'poppins', sans-serif;
}

.content-p {
    font-size: 14px;
    font-family: 'poppins', sans-serif;
    line-height: 22px;
    padding: 0px 130px;
}

.btn-check {
    font-size: 14px;
    background-color: #d1ab7f;
    font-family: 'poppins', sans-serif;
}

.btn-check:hover {
    background-color: transparent;
}

.sec-two-h6 {
    color: #d1ab7f;
    font-size: 14px;
    font-family: 'poppins', sans-serif;
}

.sec-two-h1 {
    color: #222222;
    font-size: 36px;
    font-family: 'poppins', sans-serif;
}

.sec-two-p {
    color: #222222;
    font-size: 14px;
    font-family: 'poppins', sans-serif;
}

.sec-two-paragraph {
    color: #777777;
    font-size: 14px;
    line-height: 23px;
    font-family: 'poppins', sans-serif;
}

.btn-now {
    font-size: 14px;
    background-color: #d1ab7f;
    font-family: 'poppins', sans-serif;
    border-style: none;
}

.btn-now:hover,
.btn-now-dark:hover {
    color: #d1ab7f !important;
    background-color: #ffffff;
    border: 1px solid #d1ab7f !important;
}

.title-h1 {
    color: #222222;
    font-size: 36px;
    font-family: 'poppins', sans-serif;
}

.title-p {
    color: #777777;
    font-size: 14px;
    font-family: 'poppins', sans-serif;
}

.item-bg-color {
    background-color: #F9F9FF;
}

.designer-card {
    background-color: #F9F9FF !important;
}

.c-one-img {
    border-radius: 50%;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.designer-card:hover .c-one-img {
    transform: scale(1.07);
}

.designer-card:hover .card-h4 {
    color: #d1ab7f;
}

.card-h4 {
    color: #222222;
    font-size: 18px;
}

.card-p {
    color: #777777;
    font-size: 15px;
    line-height: 22px;
}

.sec-three-h1 {
    color: #222222;
    font-size: 36px;
    font-family: 'poppins', sans-serif;
    padding-right: 150px;
    line-height: 43px;
}

.btn-now-dark {
    font-size: 14px;
    background-color: #222222;
    font-family: 'poppins', sans-serif;
    border-style: none;
}

.lunch-image {
    height: 320px;
    width: 100%;
    background-image: url(../images/video-bg.webp);
    background-size: cover;
    background-position: center;
}

.bg-review {
    background-image: linear-gradient(rgba(4, 9, 30, .5), rgba(4, 9, 30, .5)), url(../images/review-bg.jpg);
    background-size: cover;
    background-position: center;
}

.single-review .star .checked {
    color: orange;
}

.user-h4 {
    font-size: 18px;
    font-family: 'poppins', sans-serif;
}

.user-p {
    font-size: 14px;
    font-family: 'poppins', sans-serif;
}

.fa {
    font-size: 14px;
    font-family: 'poppins', sans-serif;
}

.blog-title-p {
    color: #777777;
    font-size: 14px;
    font-family: 'poppins', sans-serif;
    padding: 150px;
    line-height: 22px;
}

.card-title-h4 {
    color: #222222;
    font-size: 17px;
    font-family: 'poppins', sans-serif;
    line-height: 23px;
}

.card-text-p {
    color: #777777;
    font-size: 14px;
    font-family: 'poppins', sans-serif;
    line-height: 22px;
}

.mark-span {
    columns: #222222;
    font-size: 14px;
    font-family: 'poppins', sans-serif;
}

.meta {
    color: #777777;
    font-size: 14px;
    font-family: 'poppins', sans-serif;
    line-height: 22px;
}

@media only screen and (min-width: 1024px) {}

@media only screen and (min-width: 769px) and (max-width: 1024px) {}

@media only screen and (min-width: 569px) and (max-width: 768px) {
    .content-h1 {
        font-size: 52px;
    }
    .small-h6 {
        font-size: 14px;
    }
    .content-p {
        font-size: 14px;
        padding: 0px 50px;
    }
    .sec-two-h1 {
        font-size: 27px;
    }
    .sec-three-h1 {
        padding-right: 300px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
    .content-h1 {
        font-size: 32px;
    }
    .small-h6 {
        font-size: 14px;
    }
    .content-p {
        font-size: 14px;
        padding: 0px;
    }
    .sec-two-h1 {
        font-size: 27px;
    }
    .title-h1 {
        font-size: 34px;
        line-height: 42px;
    }
    .title-p {
        font-size: 14px;
    }
    .sec-three-h1 {
        padding-right: 0px;
    }
    .blog-title-p {
        padding: 0px;
    }
}