<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet" href="css/style.css")
        link(rel="stylesheet" href="css/bootstrap.min.css")
        link(rel="stylesheet" href="css/all.css")
    body
      header.nav-head
        nav(class="navbar navbar-expand-md")
         .container
              a(class="navbar-brand" href="")
                 img.logo(src="images/logo.png")
              button(class="navbar-toggler" data-target="#unique" data-toggle="collapse" type="button")
              span.navbar-toggler-icon
              .collapse.navbar-collapse(id="unique")
                  ul.navbar-nav
                     li.nav-item
                       a(class="navlink ft-change-one  font-weight-normalpl-lg-4 pl-md-2" href="") HOME
                     li.nav-item
                       a(class="navlink ft-change-one  font-weight-normalpl-lg-4 pl-md-2" href="") ABOUT
                     li.nav-item
                       a(class="navlink ft-change-one  font-weight-normalpl-lg-4 pl-md-2" href="") MENU
                     li.nav-item
                       a(class="navlink ft-change-one  font-weight-normalpl-lg-4 pl-md-2" href="") TEAM
                     li.nav-item
                       a(class="navlink ft-change-one  font-weight-normalpl-lg-4 pl-md-2" href="") BLOG
                     li.nav-item
                       a(class="navlink ft-change-one  font-weight-normal pl-lg-4 pl-md-2" href="") ELEMENTS
                     li.nav-item
                       a(class="navlink ft-change-one  font-weight-normalpl-lg-4 pl-md-2" href="") CONTACT
      
      