<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet" href="css/style.css")
        link(rel="stylesheet" href="css/bootstrap.min.css")
        link(rel="stylesheet" href="css/all.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
        link(rel="stylesheet" href="css/themify-icons.css")
        link(href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="css/linearicons.css")

    body 
     header.nav-head
      nav(class="navbar navbar-expand-md")
         .container
              a(class="navbar-brand" href="")
                 img.logo(src="images/logo.png")
              button.navbar-toggler(data-target="#unique" data-toggle="collapse" type="button")
                   span(i class="fas fa-sliders-h")
              .collapse(class="navbar-collapse" id="unique")
                    ul.navbar-nav
                     li.nav-item
                       a(class="navlink ft-change-one  font-weight-normal pl-lg-4 pl-md-2 text-decoration-none" href="") HOME
                     li.nav-item
                       a(class="navlink ft-change-one  font-weight-normal pl-lg-4 pl-md-2 text-decoration-none" href="") ABOUT
                     li.nav-item
                       a(class="navlink ft-change-one  font-weight-normal pl-lg-4 pl-md-2 text-decoration-none" href="") MENU
                     li.nav-item
                       a(class="navlink ft-change-one  font-weight-normal pl-lg-4 pl-md-2 text-decoration-none" href="") TEAM
                     li.nav-item
                       a(class="navlink ft-change-one  font-weight-normal pl-lg-4 pl-md-2 text-decoration-none" href="") BLOG
                     li.nav-item
                       a(class="navlink ft-change-one  font-weight-normal pl-lg-4 pl-md-2 text-decoration-none" href="") ELEMENTS
                     li.nav-item
                       a(class="navlink ft-change-one  font-weight-normal pl-lg-4 pl-md-2 text-decoration-none" href="") CONTACT
      section.bg-image
       .container(class="h-100")
            .row(class="justify-content-center align-items-center text-center h-100")
               .content
                     h6.small-h6(class="text-white pb-4") WHENEVER WE BAKE, BAKE WITH OUR HEART
                     h1.content-h1(class="text-white font-weight-bold py-2 border-top border-bottom") Love with baking items
                     p.content-p(class="text-white font-weight-normal pt-4") Since Americans in the South began roasting pigs publicly, Barbecues have been a staple of North American living. For many, grilling becomes a routine mealtime activity.
                     .check-button(class="py-3")
                        a.btn-check(class="text-uppercase border-1 text-white px-4 py-2 font-weight-normal text-decoration-none" role="button" href="#") check our menu
      section.section-2 
          .container(class="py-5")
             .row(class="py-3")
                .sec-col(class="col-12 col-md-8 col-lg-9")
                    .bakery-desc 
                           h6.sec-two-h6(class="text-uppercase font-weight-normal") BRAND NEW APP TO BLOW YOUR MIND
                           h1.sec-two-h1(class="font-weight-bolder py-3") We’ve baked every item from the core of our heart to serve you
                           p.sec-two-p(class="font-weight-normal") We are here to listen from you deliver exellence by any means
                           p.sec-two-paragraph(class="font-weight-normal") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                           .now-button(class="py-3")
                                  a.btn-now(class="text-white px-md-5 py-md-3 px-3 py-2 font-weight-normal text-decoration-none" role="button" href="#") Get Started Now
                .sec-col(class="col-12 col-md-4 col-lg-3 px-4 d-flex align-items-end")
                      img(class="img-fluid bk-item d-none d-md-block" src="images/about-img.png")
      section.section-3
       .container-fluid(class="item-bg-color")
         .container(class="py-5")
             .row
                .col-12(class="text-center py-4")
                      .item-title
                          h1.title-h1(class="font-weight-bolder") Category of available items
                          p.title-p(class="font-weight-normal py-2")  They are grilling celebrities in their own right.
             .row(class="text-center py-5")
                .col-lg-3(class="col-md-6 col-12")
                      .card(class="border-0 designer-card")
                         .card-img
                              img(class="img-fluid c-one-img" src="images/c1.jpg")
                         .card-body
                              h4.card-h4(class="font-weight-bold") Pizza
                              p.card-p(class="font-weight-normal") inappropriate behavior is often laughed off as “boys will be.
                .col-lg-3(class="col-md-6 col-12")
                     .card(class="border-0 designer-card")
                        .card-img
                              img(class="img-fluid c-one-img" src="images/c2.jpg")
                        .card-body
                              h4.card-h4(class="font-weight-bold") Bread
                              p.card-p(class="font-weight-normal") inappropriate behavior is often laughed off as “boys will be.
                .col-lg-3(class="col-md-6 col-12")
                      .card(class="border-0 designer-card")
                         .card-img
                              img(class="img-fluid c-one-img" src="images/c3.jpg")
                         .card-body
                              h4.card-h4(class="font-weight-bold") Burgers
                              p.card-p(class="font-weight-normal") inappropriate behavior is often laughed off as “boys will be.
                .col-lg-3(class="col-md-6 col-12")
                      .card(class="border-0 designer-card")
                         .card-img
                              img(class="img-fluid c-one-img" src="images/c4.jpg")
                         .card-body
                              h4.card-h4(class="font-weight-bold") Chicken
                              p.card-p(class="font-weight-normal") inappropriate behavior is often laughed off as “boys will be.
                .col-12
                       .now-button(class="py-5")
                               a.btn-now(class="text-white px-md-5 py-md-3 px-3 py-2 font-weight-normal text-decoration-none" role="button" href="#") View Full Menu 
      section.about-video-area(class="section-gap")
        .container
            .row(class="align-items-center py-5")
                .col-lg-6(class="about-video-left col-12")
                      h6.sec-two-h6(class="text-uppercase font-weight-normal") Brand new app to blow your mind
                      h1.sec-three-h1(class="font-weight-bold py-2") We’ve made a life that will change you
                      p.sec-two-p(class="font-weight-normal") We are here to listen from you deliver exellence
                      p.sec-two-paragraph(class="font-weight-normal") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed doeiusmo d tempor incididunt ut labore et dolore magna aliqua.
                      .now-button(class="py-5")
                         a.btn-now-dark(class="border-0 text-white px-md-5 py-md-3 px-3 py-2 font-weight-normal text-decoration-none" role="button" href="#") Get Started Now 
                .col-lg-6(class="justify-content-center align-items-center d-flex col-12")
                       .lunch-image(class="d-flex justify-content-center d-flex align-items-center ")
                             .play-image
                                img.play-png(src="images/play.png")
      section.review-section
        .conatiner-fluid(class="bg-review w-100 overflow-auto py-5")
          .container
               .row
                  .col-12(class="text-center py-4")
                      .item-title
                          h1.title-h1(class="font-weight-bolder text-white") Enjoy our Client’s Review
                          p.title-p(class="font-weight-normal py-2 text-white") Who are in extremely love with eco friendly system.
               .row(class="py-4")
                  .col-md-6(class="col-12 py-3 py-md-0")
                      .single-review
                             img.r1-img(src="images/r1.png")
                             .user-view(class="d-flex justify-content-space-between py-4")
                                 h4.user-h4(class="font-weight-bold text-white") Fannie Rowe
                                 .star(class="px-4")
                                      span.fa(class="fa-star checked font-weight-bold")
                                      span.fa(class="fa-star checked font-weight-bold")
                                      span.fa(class="fa-star checked font-weight-bold")
                                      span.fa(class="fa-star text-white font-weight-bold")
                                      span.fa(class="fa-star  text-white font-weight-bold")
                             p.user-p(class="font-weight-normal text-white")        Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
                  .col-md-6(class="col-12  py-3 py-md-0")
                      .single-review
                            img.r1-img(src="images/r1.png")
                            .user-view(class="d-flex justify-content-space-between py-4")
                                  h4.user-h4(class="font-weight-bold text-white") Hulda Sutton
                                  .star(class="px-4")
                                      span.fa(class="fa-star checked font-weight-bold")
                                      span.fa(class="fa-star checked font-weight-bold")
                                      span.fa(class="fa-star checked font-weight-bold")
                                      span.fa(class="fa-star  text-white font-weight-bold")
                                      span.fa(class="fa-star  text-white font-weight-bold")
                            p.user-p(class="font-weight-normal text-white")        Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.
    
                
      script(src="js/jquery-3.3.1.slim.min.js")
      script(src="js/popper.min.js")
      script(src="js/bootstrap.min.js")